/* moulos de estilos de navbar */

.navbar-container {
  background: rgba(49, 56, 95, 0.80);
  border-radius: 15px;

}

.texto {
  font-family: "JetBrains Mono";
  font-size: 15px;
  color: rgba(167, 105, 199, 1);
}

.nav-item {
  margin: 2px 2px 2px 2px;
  font-family: "ArcadeClassic, Regular";
  font-size: 22px;
}


.btn {
  margin: 6px 90px;
  padding: 0px 15px;  
  background: rgba(92, 192, 255, 0.50);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(99, 102, 241, 0.3);
  
  /*transition: background-color 0.2s ease-in-out;*/
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background: rgba(49, 156, 185, 0.50);
  color: #fff;
  border-radius: 8px;
  /*margin: 20px 32px;*/
}


/*
forma correcta de usar el gtk animation

animation: rotate 5s linear infinite;*

@keyframes rotate {
  from { -gtk-icon-transform: rotate(0deg); }
  to { -gtk-icon-transform: rotate(360deg); }
}*/

@keyframes pulso-barra {
  from {
    background-color: rgba(22, 153, 166, 0.2);
  }
  to {
    background-color: rgba(22, 153, 166, 1);
  }
}

.barras {
  background: rgba(22, 153, 166, 1);
  padding: 10px;
  border-radius: 2rem 0 0 0;
  animation: pulso-barra 2s ease-in-out infinite alternate;
}


.bordes {
  margin: 20px 32px; 
  padding: 12px 24px;
  background: rgba(199, 105, 147, 0.8);
  border-radius: 8px;
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}

@keyframes neon-glow {
  from {
    color: rgba(167, 105, 199, 0.5);
    /* GTK soporta text-shadow básico de manera muy limpia */
    text-shadow: 0 0 2px rgba(167, 105, 199, 0.2);
  }
  to {
    color: rgba(210, 140, 240, 1);
    text-shadow: 0 0 8px rgba(167, 105, 199, 0.8);
  }
}

.bordes:hover {
  padding: 13px 15px;
  background: rgba(199, 104, 147, 1);
  animation: neon-glow 1.5s ease-in-out infinite alternate;
  /*background: rgba(36, 104, 150, 0.6);*/
}

@keyframes fade-entrance {
  from {
    background-color: rgba(49, 56, 95, 0);
  }
  to {
    background-color: rgba(49, 56, 95, 0.35);
  }
}


