/* moulos de estilos de navbar */

.navbar-container {
  background: rgba(49, 56, 95, 1); 
  border-radius: 2rem;
}

.texto {
  font-family: "JetBrains Mono";
  font-size: 15px;
  color: rgba(167,105,199,100);
}


.bordes {
  margin: 0 32px;
  padding: 10px;
  background: rgba(199,105,147,100);
  border-radius: 15px;
}

.nav-item {
  margin: 1rem 0;
  font-family: "ArcadeClassic, Regular";
  font-size: 18px;
}
