*{
    padding: 0;
    margin: 0;
}

.wifi_title {
    color: #fff;
    font-family:ElectroHarmonix, Regular;
    font-size: 4rem;
}

.wifi_txt {
    color: #fff;
    font-family: ARCADECLASSIC,regular;
    font-size: 3rem;
}

.Texto_titulos{
    color: #fff;
    font-family: JetBrainsMono NFP, Thin;
    font-size: 2rem;
    text-shadow: rgba(185, 255, 230, 0.864) -1px 1px 23px;
}

.txt_norm{
    color: #fff;
    font-family: JetBrainsMono NFP, Thin;
    font-size: 1.2rem;
    text-shadow: rgba(185, 255, 230, 0.864) -1px 1px 23px;
}

.card{
    background: #3e3030;
}

