/* Variables Globales de eww */

/* Importacion de modulos */
//@import "./modules/player/player_audio.scss";
//@import "./modules/navbar.scss";

@import "./modules/navbar.css";
//@import "./modules/player/audio.css";

/*
Tipografias chidas para usar son 
ArcadeClassic
Comic Relief
Electroharmonix
Espacion

JetBrains Mono N

*/

*{
  all: unset;
}

.main-container {
  /*background-color: #C24242;*/
  background: #C24242;
  background: linear-gradient(90deg, rgba(71, 63, 63, 0.8) 0%,rgba(51, 51, 78, 0.8) 100%);
  border-radius: 2rem;
}




