/* Modulo de estilos de scss de audio */
@import '../eww.scss/'
.player-box {
  background: $bg-color;
  border: 1px solid $border-color;
  border-radius: 20px;
  /*backdrop-filter: blur(10px);*/
}

.player-text {
  color: "#C24242";
  font-size: 20px;
}
