/* Modulo de estilos de scss de audio */

.player-box {
  background: transparent;
  border: 1px solid "#fff";
  border-radius: 20px;
  /*backdrop-filter: blur(10px);*/
}

.player-text {
  color: "#C24242";
  font-size: 20rem;
}
